.world {
    width: 100%;
    background-image: url(../img/world.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px auto;
}